<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
    <script src="/ace.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.js"></script>
    <script src="/share/ace.js"></script>
    <script>
        $(document).ready(function() {
            var editor = ace.edit("editor");
            var pathName = window.location.pathname.split("/")[2]
            sharejs.open(pathName, 'text', 'http://localhost/channel', function (error, doc) {
                doc.attach_ace(editor);
            });
        });
    </script>
    <style>
        body{
          margin: 0;
        }

        #editor {
          width: 100%;
          height: 100vh;
        }
    </style>
</head>
<body>
<div id="editor"></div>
</body>
</html>